@font-face {
	font-family: "l-iconfont";
	font-weight: normal;
	font-style: normal;
	font-display: auto;
  src:url('http://at.alicdn.com/t/font_2192519_p8qzc85beyl.woff2') format('woff2')
}

.l-iconfont {
	font-family: "l-iconfont" !important;
	font-size: 32rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.l-iconfont:before {
	display: flex;
	align-items: center;
}

.l-iconfont-purse:before {
  content: "\e60c";
  color: #fc4500;
}

.l-iconfont-alipay:before {
  content: "\e600";
  color: #4390ED;
}

.l-iconfont-wxpay:before {
  content: "\e634";
  color: #09BB07;
}

.l-iconfont-star:before {
	content: "\e69b";
}

.l-iconfont-down:before {
	content: "\e69d";
}

.l-iconfont-left:before {
	content: "\e601";
}

.l-iconfont-check:before {
	content: "\e602";
}

.l-iconfont-right:before {
	content: "\e603";
}

.l-iconfont-error:before {
	content: "\e605";
}

.l-iconfont-wechat:before {
	content: "\e608";
}

.l-iconfont-qq:before {
	content: "\e609";
}

.l-iconfont-reset:before {
	content: "\e60b";
}
